<%- include('layout') %>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        html {
            box-sizing: border-box;
            overflow-x: hidden;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .display-flex {
            display: flex;
        }

        .flex-direction-column {
            flex-direction: column;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }

        .about-section {
            padding: 50px;
            text-align: center;
            background: linear-gradient(45deg, lightblue, transparent);
            color: white;
            min-height: 70vh;
        }

        .about-section p{
            font-family: monospace;
        }
        .container {
            padding: 0 16px;
        }

        .container::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color: #555;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }


        .about-section h1 {
            color: black;
            font-size: 2.8em;
            font-weight: bolder;
            font-family: initial;
            text-transform: uppercase;
            letter-spacing: 8px;

        }

        @media screen and (max-width: 520px) {
            .about-section h1 {
                letter-spacing: 4px;
            }
        }

        .about-section .about-sub_heading {
            font-size: 2.2em;
            font-weight: bold;
            color: #140f0fc2;
    line-height: 35px;
        }

        .team-section {

            text-align: center;
            padding: 50px 0;
            background: #8080801c;
        }

        .team-members {
            display: grid;
            justify-content: center;
            grid-template-columns: 30% 30% 30%;
        }


        @media(max-width: 750px) {
            .team-members {
                grid-template-columns: 45% 45%;
            }
        }

        @media(max-width: 450px) {
            .team-section {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .team-members {
                display: block;
            }
        }


        .team-member {
            position: relative;
            margin: 20px;
            max-width: 300px;
            box-sizing: border-box;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .fade-in {
            opacity: 1;
        }

        .team-member img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

        .team-member h3 {
            margin: 10px 0;
        }

        .social-links {
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.6s ease, visibility 0.5s ease;
        }

        .team-member:hover .social-links {
            opacity: 1;
            visibility: visible;
        }

        .social-links a {
            display: block;
            margin: 5px;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 18px;
        }

        .social-links a:hover {
            text-decoration: underline;
        }

        h2 {
            margin-top: 15px;
            font-size: 40px;
            font-weight: bold;
        }

        .about {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        .about h1 {
            color: #1ea7fd;
            font-size: 2.5em;
            text-align: center;
            margin-bottom: 20px;
        }

        .about h2 {
            color: #1ea7fd;
            font-size: 2em;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
            color: black;
        }

        .content-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .mission-container,
        .values-container {
            width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    gap: 20px;
    background: #8080801c;
    margin-top: 20px;
    max-width: 1040px;
        }
@media(max-width: 810px){
    .mission-image-des{
        flex-direction: column;
    }
}
        .image {
            width: 100%;
            max-width: 300px;
            border-radius: 5px;
        }

        /* Optional: Add your own styles for emphasis or additional flair */
        strong {
            color: #1ea7fd;
            font-weight: bold;
        }

        em {
            font-style: italic;
            color: #ff5733;
        }

        /* Emphasize the call-to-action */
        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(37, 119, 233);
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .cta-button:hover {
            background-color: rgba(92, 92, 221, 0.836);
            color: white;
            text-decoration: none;
        }

        .mission-image-des{
            display: flex;
    min-height: fit-content;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
        }

        /* Responsive styling */
        @media screen and (max-width: 768px) {
            .content-container {
                flex-direction: column;
            }

            .mission-container,
            .values-container {
                width: 93%;
            }
        }

        .team-member p{
            color: darkorange;
            font-weight: bold;
        }
    </style>


    <div class="about-section display-flex flex-direction-column justify-content-center">
        <h1 style="color: black;">About Us</h1>
        <p class="about-sub_heading">Welcome to My Chemistry Website.</p>
        <p style="text-align: justify;">Your go-to resource for Grade 11 and 12 Organic Chemistry.
            We are passionate about providing comprehensive learning materials and resources to help
            students excel in their chemistry studies. Explore our website for valuable insights,
            educational content, and stay updated with the latest in organic chemistry.
        </p>
        </p>
    </div>

    <div class="content-container">
        <div class="mission-container display-flex justify-content-center">
            <h2>Our Mission</h2>
            <div class="mission-image-des">
            <img class="image" src="images/mission.png" alt="Mission Image">
            <p>At <strong>My Chemistry Website</strong>, our mission is to foster a deeper understanding of organic
                chemistry among students. We provide comprehensive learning materials and resources that empower
                students to excel in their chemistry studies.</p>
            </div>
        </div>

        <div class="values-container">
            <h2>Our Values</h2>
            <p>We are driven by a passion for education and a commitment to making the world of organic chemistry
                accessible and engaging. Our values include:</p>
            <ul>
                <li><strong>Excellence:</strong> Striving for academic excellence and quality content.</li>
                <li><strong>Inclusivity:</strong> Creating an inclusive learning environment for all students.</li>
                <li><strong>Innovation:</strong> Embracing innovative approaches to teaching and learning.</li>
            </ul>
        </div>
    </div>

    <p align="center"><a href="/" class="cta-button">Explore Now</a></p>
    </div>

    <!--  -->
    <section class="team-section">
        <h2 align="center">Our Team</h2>
        <div class="team-members" align="center">
            <div class="team-member">
                <img src="images/prabesh ko photo.jpg" alt="Team Member 1">
                <h3>Prabesh Sitaula</h3>
                <p>CEO</p>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/prabesh-sitaula-b3832a264/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/prabeshsitaula07" target="_blank">Github</a>
                    <a href="https://prabeshsitaula.com.np" target="_blank">Prabesh Sitaula</a>
                </div>
            </div>

            <div class="team-member">
                <img src="images/bibash.jpg" alt="Team Member 2">
                <h3>Bibash Shrestha</h3>
                <p>Designer</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/bibash.shrestha.148553" target="_blank">Facebook</a>
                    <a href="https://www.instagram.com/bibashshrestha08/" target="_blank">Instagram</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="team-member">
                <img src="images/rabin.jpg" alt="Team Member 2">
                <h3>Rabin Chhatkuli</h3>
                <p>Software Developer</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100075232735581" target="_blank">Facebook</a>
                    <a href="https://www.instagram.com/rabinxtkuli/" target="_blank">Instagram</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="team-member">
                <img src="images/tenzeen.jpg" alt="Team Member 3">
                <h3>Tenzeen Tamang</h3>
                <p>Program Manager</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/tenzo_111/" target="_blank">Instagram</a>
                    <a href="https://www.facebook.com/tenzeen.fc" target="_blank">Facebook</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="team-member">
                <img src="images/avishek.jpg" alt="Team Member 2">
                <h3>Avishek Subedi</h3>
                <p>Content Creator</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/avishek.subedi.908" target="_blank">Facebook</a>
                    <a href="#" target="_blank">Twitter</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="team-member">
                <img src="images/bhandari.jpg" alt="Team Member 2">
                <h3>Sushant Bhandari</h3>
                <p>Marketing Head</p>
                <div class="social-links">
                    <a href="https://www.instagram.com/sushant.bhandari07/" target="_blank">Instagram</a>
                    <a href="https://www.facebook.com/sushant.bhandari.3367" target="_blank">Facebook</a>
                    <a href="" target="_blank">GitHub</a>
                </div>
            </div>


            <!-- Repeat the structure for other team members -->
        </div>
    </section>

    <footer class="footer mt-auto py-3" style="
    background: linear-gradient(45deg, darkblue, lightblue, transparent);
    ">
       
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Your go-to resource for Grade 11 and 12 Organic Chemistry, providing comprehensive learning
                        materials and resources to help students excel in their chemistry studies.</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/learn">Learn</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: sitaulaprabesh07@gmail.com<br>Phone: +977 9848589357</p>
                    <a href="https://prabeshsitaula.com.np/" target="_blank">Prabesh Sitaula</a>
                </div>
            </div>
            <hr>
            <p class="text-muted">© 2023 My Chemistry Website. All rights reserved.</p>
            <div class="row mt-4">
                <div class="col-md-12">
                    <h5>Advertise with Us</h5>
                    <p>Place your advertisement content here.</p>
                </div>
            </div>
            
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const teamMembers = document.querySelectorAll(".team-member");

            function isInViewport(element) {
                const rect = element.getBoundingClientRect();
                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <=
                    (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
            }

            function showTeamMember() {
                teamMembers.forEach((member) => {
                    if (isInViewport(member)) {
                        member.classList.add("fade-in");
                    }
                });
            }

            // Initial check when the page loads
            showTeamMember();

            // Check when the user scrolls
            window.addEventListener("scroll", showTeamMember);
        });
    </script>