<section class="about" id="about">
    <h2 align="center">About Us</h2>
  <div class="content-container">
<div class="mission-container">
    <h3 align="center">Our Mission</h3>
        <p>At <strong>My Chemistry Website</strong>, our mission is to foster a deeper understanding of organic
            chemistry among students. We provide comprehensive learning materials and resources that empower
            students to excel in their chemistry studies.</p>
</div>

<div class="values-container">
    <h3 align="center">Our Values</h3>
    <p>We are driven by a passion for education and a commitment to making the world of organic chemistry
        accessible and engaging. Our values include:</p>
    <ul>
        <li><strong>Excellence:</strong> Striving for academic excellence and quality content.</li>
        <li><strong>Inclusivity:</strong> Creating an inclusive learning environment for all students.</li>
        <li><strong>Innovation:</strong> Embracing innovative approaches to teaching and learning.</li>
    </ul>
</div>
</div>
</div>
</section>