<%- include('header.ejs', {title: 'Blog'}) %>

    <section style="height: 100vh;">
        <h2>BLOG</h2>
        <p>Welcome to our Chemistry website. Learn more about our mission and goals here.</p>
    </section>

<%- include('footer.ejs') %>