<%- include('layout') %>

    
<link href="/css/contact.css" rel="stylesheet">

<div class="fcf-body">

    <div id="fcf-form">
    <h3 class="fcf-h3">Contact us</h3>

    <form id="fcf-form-id" class="fcf-form-class" action="/">
        
        <div class="fcf-form-group">
            <label for="Name" class="fcf-label">Your name</label>
            <div class="fcf-input-group">
                <input type="text" id="Name" name="Name" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Email" class="fcf-label">Your email address</label>
            <div class="fcf-input-group">
                <input type="email" id="Email" name="Email" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Message" class="fcf-label">Your message</label>
            <div class="fcf-input-group">
                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
        </div>

    </form>
    </div>

</div>
    <footer class="footer mt-auto py-3" style="
    background: linear-gradient(45deg, darkblue, lightblue, transparent);
    ">
       
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Your go-to resource for Grade 11 and 12 Organic Chemistry, providing comprehensive learning materials and resources to help students excel in their chemistry studies.</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/learn">Learn</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: sitaulaprabesh07@gmail.com<br>Phone: +977 9848589357</p>
                    <a href="https://prabeshsitaula.com.np/" target="_blank">Prabesh Sitaula</a>
                </div>
            </div>
            <hr>
            <p class="text-muted">© 2023 My Chemistry Website. All rights reserved.</p>
            <div class="row mt-4">
                <div class="col-md-12">
                    <h5>Advertise with Us</h5>
                    <p>Place your advertisement content here.</p>
                </div>
            </div>
            
        </div>
    </footer>
