<section class="featured-content" id="learn">
    <div class="container">
        <h2 align="center">Start With</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card title-img">

                    <img src="/images/namereaction.png" class="card-img-top" alt="Featured Content 1">
                    <div class="card-body">
                        <h5 class="card-title">Name Reaction</h5>
                        <p class="card-text">All the Name Reactions that are especially focused in grade 11 and 12.</p>
                        <a href="learn-features/name-reaction"><button class="start-btn">Start</button></a>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card title-img">

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9SDLVnqMM8Rs9fIVWFh1FouN7c7xl0DWlCYlWQQ2ttvswSV-c33FXEEMx57bL0cLxt0k&usqp=CAU"
                        class="card-img-top" alt="Featured Content 1">
                    <div class="card-body">
                        <h5 class="card-title">Name Reaction</h5>
                        <p class="card-text">All the Name Reactions that are especially focused in grade 11 and 12.</p>
                        <a href="learn-features/name-reaction"><button class="start-btn">Start</button></a>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card title-img">

                    <img src="https://bright-culture.com/wp-content/uploads/2021/06/5-Steps-to-Understand-Chemistry-optimized.png"
                        class="card-img-top" alt="Featured Content 1">
                    <div class="card-body">
                        <h5 class="card-title">Name Reaction</h5>
                        <p class="card-text">All the Name Reactions that are especially focused in grade 11 and 12.</p>
                        <a href="learn-features/name-reaction"><button class="start-btn">Start</button></a>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>