<footer class="footer mt-auto py-3" style="
    background: linear-gradient(-7deg, purple, transparent);
    ">

    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Your go-to resource for Grade 11 and 12 Organic Chemistry, providing comprehensive learning materials
                    and resources to help students excel in their chemistry studies.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#learn">Learn</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: sitaulaprabesh07@gmail.com<br>Phone: +977 9848589357</p>
                <a href="https://prabeshsitaula.com.np/" target="_blank">Prabesh Sitaula</a>
            </div>
        </div>
        <hr>
        <p class="text-muted">© 2023 My Chemistry Website. All rights reserved.</p>
        <div class="row mt-4">
            <div class="col-md-12">
                <h5>Advertise with Us</h5>
                <p>Place your advertisement content here.</p>
            </div>
        </div>

    </div>
</footer>



<!-- Bootstrap and custom scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</body>

</html>