<%- include('header.ejs', {title: 'Home'}) %>
    <style>
        .home {
            min-height: 100vh;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
    background: url(https://img.freepik.com/free-vector/retro-science-background_23-2148557500.jpg);
    background-size: cover;
    background-position: center;
        }

        
        .home img {
            max-width: 310px;
            border-radius: 80px;
            margin-right: 35px;
            margin-top: 35px;
            margin-bottom: 35px;
        }
        .home-about{
            max-width: 50%;
        }
        .home-about h2 {
            font-size: 49px;
            color: black;
            font-weight: bold;
            padding: 20px;
        }

        .home-about p {
            color: black;
            font-family: cursive;
            padding-left: 10px;
            font-size: 20px;
            width: 80%;
        }
        .home .learn{
            position: absolute;
            bottom: 0;
        }
        @media(max-width: 850px) {
            .home {
                flex-direction: column;

            }
            
            .home-about{
                max-width: 100%;
            }

            .home img {
                display: none;
            }

            .home .learn{
                position: relative;
            }

        }
       
        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(37, 119, 233);
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .cta-button:hover {
            background-color: rgba(92, 92, 221, 0.836);
            color: white;
            text-decoration: none;
        }
    </style>
    <main class="home">
        <div class="home-about">
            <h2>A Complete Learning Platform for your aspirations</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio ullam quisquam, et nisi esse eveniet
                aperiam, voluptates consectetur omnis veritatis amet sapiente non laudantium corporis qui, a blanditiis
                iure eius?</p>
        </div>
        <p align="center" class="learn"><a href="/learn" class="cta-button">Start Learning</a></p>
        <img src="images/dashboard.png" alt="">
    </main>
    <%- include('footer.ejs') %>