/* Add any additional styles for the home page */

.hero {
    background-color: black;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .featured-content {
    padding: 60px 0;
  }
  
  .featured-content h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .card {
    margin-bottom: 20px;
    height: 400px;
    min-height: fit-content;
    overflow: hidden;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .bg-light{
    min-height: 110px;
    background: linear-gradient(purple, purple) !important;
  }

  .navbar-light .navbar-nav .nav-link{
    font-weight: bold;
    color: white;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: hotpink;
  }
  .navbar-light .navbar-brand{
    color: white;
  }

  .navbar-light .navbar-brand:hover{
    color: hotpink;
  }

  .margin-left-20{
    margin-left: 20px;
  }
  .container{
    position: relative;
  }
  
  .card-body h5{
    color: red;
    text-decoration: none;
  }

  .card-body p{
    color: blue;
  }

  a{
    text-decoration: none;
}

.footer .col-md-4 h5{
  color: yellow;
}

.footer .col-md-4 p{
  color: white;
}

.title-img img:hover{
  width: 600px;
  transition: 0.5s ease-in-out;
}

.card a:hover{
  text-decoration: none;
}

.height80-lineargrad{
 background: linear-gradient(45deg, black, transparent); 
}

#carouselExampleIndicators{
  padding-top: 2px;
}

/* about-page css */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
}

.team-section {
  text-align: center;
  padding: 50px 0;
  display: flex;
    flex-direction: column;
    align-items: center;
  background: linear-gradient(-162deg, #540c54c4, transparent);
}

.team-members {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
}


@media(max-width: 750px) {
  .team-members {
      grid-template-columns: 45% 45%;
  }
}

@media(max-width: 450px) {
  .team-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .team-members {
      display: block;
  }
}


.team-member {
  position: relative;
  margin: 20px;
  max-width: 300px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.team-member h3 {
  margin: 10px 0;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.social-links {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.5s ease;
  background: #80008061;
  padding: 20px;
}

.team-member:hover .social-links {
  opacity: 1;
  visibility: visible;
}

.social-links a {
  display: block;
  margin: 5px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

.social-links a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 15px;
  font-size: 40px;
  font-weight: bold;
}

.about{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.mission-container,
.values-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    background: #77078a3b;
    width: 450px;
    height: 340px;
    justify-content: center;
}


.image {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}

/* Optional: Add your own styles for emphasis or additional flair */
strong {
  color: #1ea7fd;
  font-weight: bold;
}

em {
  font-style: italic;
  color: #ff5733;
}


/* Responsive styling */
@media screen and (max-width: 768px) {
  .content-container {
      flex-direction: column;
  }

  .mission-container,
  .values-container {
      width: 93%;
  }
}

.team-member p {
  color: darkblue;
  font-weight: bold;
}