

<%- include('rxnlayout.ejs', { 
    
    title: '2,4DNP-test', 

    general_reaction: `<strong>Aldehyde</strong> and <strong>ketones</strong> react with <strong>2,4-dinitrophenylhydrazine(2,4DNP)</strong> to give <strong>aldehyde or ketone – 2,4- dinitrophenlhydrazone</strong> which is yellow or orange ppt.<br><img style="max-width: 100%;" src="../../reaction-image/2,4DNP-test.png" alt="">`,

    image: '../../reaction-image/2,4DNP-test-example.png',
    
    description: `<h3>What is 2,4-Dinitrophenylhydrazine (2,4 DNP Test)?</h3><br>
    Brady’s reagent (2,4-dinitrophenylhydrazine) is a red-orange solid, usually supplied wet to reduce the risk of explosion.<br><br><h3>2,4-Dinitrophenylhydrazine Structure</h3><br>The structure of 2,4-Dinitrophenylhydrazine is given below.<br><img src="../../reaction-image/DNP-1.png">`,
    
    application: 'A',
    
    history: ''
}) %>
