

<%- include('rxnlayout.ejs', { 
    
    title: 'Aldol Condensation', 

    general_reaction: `The <strong>aldol and ketol</strong> readily lose water to give <strong>α,β-unsaturated carbonyl compounds</strong> which are <strong>aldol condensation products</strong> and the reaction is called <strong>Aldol condensation</strong>.<br><img style="max-width: 100%;" src="../../reaction-image/aldol-condensation.png">`,

    image: '../../reaction-image/aldol-condensation-example.png',
    
    description: `<h3>What is Aldol Condensation?</h3><br>
    <strong>Aldol condensation</strong> occurs in <strong>aldehydes having α-hydrogen</strong> with a dilute base to give <strong>β-hydroxy aldehydes</strong> called <strong>aldols</strong>. This reaction is most commonly known as aldol condensation. If the <strong>condensation reaction occurs between two different carbonyl compounds it is called crossed aldol condensation.</strong><br><br><h3>Aldol Condensation Reaction</h3><br>Aldol Condensation can be defined as an organic reaction in which enolate ion reacts with a carbonyl compound to form β-hydroxy ketone or β-hydroxy aldehyde, followed by dehydration to give a conjugated enone. Aldol Condensation plays a vital role in organic synthesis, creating a path to form carbon-carbon bonds.<br><br><h3>Mechanism of Aldol Condensation</h3><br><strong>Step-1:</strong><br><br>In reverse order, The hydroxide ion deprotonates the aldehyde.<br><img style="max-width: 100%;" src="../../reaction-image/ald-c1.png" alt=""><br><br><strong>Step-2:</strong><br><br>Here Enolate ion 1 adds to the unreacted aldehyde.<br><img style="max-width: 100%;" src="../../reaction-image/ald-c2.png" alt=""><br><br><strong>Step-3:</strong><br><br>Alkoxide ion 2 is protonated by water.<br><img style="max-width: 100%;" src="../../reaction-image/ald-c3.png" alt=""><br><br><strong>Step 4:</strong><br><br>A small amount of aldol is converted into enolate ion (4) by hydroxide ion.<br><img style="max-width: 100%;" src="../../reaction-image/ald-c4.png" alt=""><br><br><strong>Step-5:</strong><br><br>Here Enolate Ion(4) loses a hydroxide ion.<br><img style="max-width: 100%;" src="../../reaction-image/ald-c5.png" alt=""><br><br><strong>NOTE: Step 1 to step 3 illustrates the aldol reaction.</strong>`,
    
    application: 'The reaction is commonly used to produce solvents such as alcohol isophorone and diacetone. It works as an intermediate for perfume production. It is also used in pharmaceutical manufacturing, unsaturated ketones and chalcones known as aromatic ketones. Usually, it is used to create plasticizers as well.',
    
    history: 'The aldol reaction was discovered independently by the Russian chemist (and Romantic composer) Alexander Borodin in 1869 and by the French chemist Charles-Adolphe Wurtz in 1872, which originally used aldehydes to perform the reaction.<br><br><a href="https://en.wikipedia.org/wiki/Aldol_reaction#:~:text=reaction%20of%20glycolysis.-,History,aldehydes%20to%20perform%20the%20reaction.">Learn More</a>'
}) %>
