

<%- include('rxnlayout.ejs', { 
    
    title: 'Benzoin Condensation', 

    general_reaction: `The <strong>Benzoin Condensation</strong> is a <strong>coupling reaction between two aldehydes</strong> that allows the preparation of <strong>α- hydroxyketones.</strong>`,

    image: '../../reaction-image/benzoin-condensation.png',
    
    description: '<h3>Definition and Meaning of Benzoin Condensation</h3><br><strong>Definition: </strong>Benzoin condensation reaction can be defined as the reaction between two kinds of aromatic aldehydes especially benzaldehyde, in the presence of some catalyst (either nucleophile or heterocyclic) to form an aromatic parent compound.<br><br>Condensation reactions are mainly used to create carbon to carbon bonds, polymers, new monomers, production of polypeptides, etc.<br><br>The benzoin condensation reaction is nothing but the coupling reaction that occurs between aldehydes for the formation of parent benzoin. In this case, the benzaldehyde is involved in this homocoupling process.<br><br><h3>Mechanism of Benzoin Condensation Reaction</h3><br><img style="max-width: 100%;" src="../../reaction-image/ben-c1.png" alt=""><br><br>The mechanism of Benzoin condensation reaction is as in the steps below-<br><br>
    1. The first phase of the process includes the reaction of cyanide ions with the benzaldehyde to form the product called cyanohydrin. In this step, the cyanide ion or sodium cyanide takes part in the nucleophilic addition reaction, and it is a reversible reaction. The cyanide ion helps the reaction to occur by acting as a nucleophile and facilitating the abstraction of protons, thus forming cyanohydrin. The cyanide ions serve as a catalyst in the reaction.<br>2. The second step is the condensation reaction that occurs between the cyanohydrin and the benzaldehyde.<br>3. In the third phase, rearrangement occurs and also the removal of the cyanide ions occurs resulting in the formation of benzoin. The Rearrangement process results in the reversal of polarity of the carbonyl group, later adding to the second group of carbonyl atom in the second nucleophilic addition.<br><br>In the reaction, a strong base deprotonates the former carbonyl C-atom and the second kind of an equivalent aldehyde reacts with the carbanion, thus eliminating the catalyst and regenerating the carbonyl compound at the end of the condensation reaction.<br><br>In this Benzoin Condensation reaction, the two different aldehydes serve two purposes. One aldehyde in the reaction donates the protons and whereas the other aldehyde accepts the protons.',
    
    application: '<h3>Application of Benzoin and Benzoin Condensation Reaction</h3><br>
    1. The benzoin condensation reactions find uses in various organic synthesis and reactions.<br>2. The product benzoin is made use in hardening of different polymers by making use of microemulsion.<br>3. The reaction is helpful in the synthesis of heterocyclic compounds and also extends to the aliphatic form of aldehydes.<br><br>These reactions also find its applications in the poly chemistry, for the production of polymers as well in the condensation of new monomers.',
    
    history: 'The benzoin condensation was first reported in <strong>1832 by Justus von Liebig and Friedrich Wöhler</strong> during their research on bitter almond oil. The catalytic version of the reaction involving cyanide was developed by <strong>Nikolay Zinin</strong> in the late <strong>1830s</strong>.<br><br><a href="https://en.wikipedia.org/wiki/Benzoin_condensation">Learn More</a>'
}) %>
