

<%- include('rxnlayout.ejs', { 
    
    title: 'Carbylamine Reaction', 

    general_reaction: `<strong>Aliphatic and aromatic primary amines</strong> on heating with <strong>chloroform and ethanolic potassium hydroxide form isocyanides or carbylamines</strong> which are foul smelling substances. This reaction is known as <strong>carbylamines reaction or isocyanide test.</strong><br><br><img style="max-width: 100%;" src="../../reaction-image/carbyl-amine-reaction.png" alt="">`,

    image: '../../reaction-image/carb-a-1.png',
    
    description: `<h3>Carbylamine Reaction Mechanism</h3><br>Carbylamine reaction mechanism includes the addition of amine to the intermediate created from the dehydrohalogenation of chloroform. This intermediate is called dichlorocarbene. The carbylamine reaction is also known as Hofmann isocyanide synthesis. It is the reaction of a primary amine, chloroform and a base to synthesize isocyanides. The dichlorocarbene intermediate is very important for this conversion. The carbylamine reaction cannot be used to synthesize isocyanides from secondary or tertiary amines. In general, the carbylamine reaction can be written as –<br><br><strong>R-NH2 + CHCl3 + 3KOH → RNC (Carbylamine) + 3KCl + 3H2O</strong><br><br>Here are a few examples of the carbylamine reaction.<br><img style="max-width: 100%;" src="../../reaction-image/carb-a-2.png" alt="">,<br><br><h3>Hofmann’s Isocyanide Test</h3><br>Since the carbylamine reaction is effective only for primary amines, it can be used as a chemical test for the presence of the presence of primary amines. When used as a test, the carbylamine reaction is also called Hofmann’s isocyanide test. In this test, the test substance is heated with chloroform and alcoholic potassium hydroxide. In the case of the presence of primary amine, there will occur a formation of isocyanide (carbylamine) which can be easily identified by its extremely foul smell. The Hofmann isocyanide test does not give a foul odour with secondary or tertiary amines as they do not undergo the carbylamine reaction.<br><br><h3>Carbylamine Reaction Mechanism</h3><br>The first step is the dehydrohalogenation (removal of hydrogen halide from a given substrate) of chloroform to give dichlorocarbene intermediate. This dichlorocarbene intermediate is very reactive. The electrophilic dichlorocarbene attacks the nucleophilic nitrogen of the primary amine. The elimination of the hydrochloric acid leads to the formation of isonitrile. An illustration of the carbylamine reaction mechanism is provided below.<br><br><img style="max-width: 100%;" src="../../reaction-image/carb-a-3.png" alt=""><br><br>`,
    
    application: `<h3>Application of Carbylamine Reaction</h3><br>The carbylamine reaction can be used to synthesize isocyanides from primary amines with the help of chloroform and a base.<br>The carbylamine reaction can also be employed to test the presence of a primary amine in a given substrate.`,
    
    history: `The earliest known use of the noun carbylamine reaction is in the <strong>1890s</strong>. OED's earliest evidence for carbylamine reaction is from <strong>1895, in Journal of American Chemical Society</strong>. carbylamine reaction is formed within English, by compounding.<br><br><a href="https://en.wikipedia.org/wiki/Carbylamine_reaction">Learn More</a>`
}) %>
