

<%- include('rxnlayout.ejs', { 
    
    title: '2,4DNP-test', 

    general_reaction: `<strong>Benzene diazonium chloride</strong> reacts with phenol in which the phenol molecule at its para position is coupled with the diazonium salt to form <strong>p-hydroxyazobenzene</strong>. This type of reaction is known as <strong>coupling reaction</strong>.`,

    image: '../../reaction-image/coupling-reaction.png',
    
    description: `<h3>What is a Coupling Reaction?</h3><br>The term ‘coupling reaction’ refers to the class of organic reactions that involve the joining of two chemical species (usually with the help of a metal catalyst). An important type of coupling reaction is the reaction of an organic halide with an organometallic compound having the general formula R-M which facilitates the formation of a new carbon-carbon bond. If the organic halide in this reaction has the general formula R’-X, the compound formed as a product will have the formula R-R’.<br><br>An illustration of a coupling reaction is provided below.<br><br><img style="max-width: 100%;" src="../../reaction-image/cou-1.png" alt=""><br><br>Here, R1 and R3 denote alkyl, alkene, or alkyne groups and R2 denotes an H-group or an alkyl group. Note that X denotes a halide group.<br><br><h3>Types of Coupling Reactions</h3><br>Coupling reactions can be classified into two types based on the chemical species that are combined by them:<br><br><strong>Homo-coupling reactions</strong>: Here, two identical chemical species are combined to yield a single product.<br><strong>Hetero-coupling reactions (also known as cross-coupling reactions)</strong>: Here, two dissimilar chemical species are joined together to afford a single product.<br><br><strong>Examples of Homo-Coupling Reactions</strong><br><br>An important example of homo-coupling reactions is the Ullmann reaction, which is illustrated below.<br><br><img style="max-width: 100%;" src="../../reaction-image/cou-2.png" alt=""><br><br><strong>Examples of Cross-Coupling Reactions</strong><br><br>The Heck reaction is an important example of a cross-coupling reaction. The Heck reaction of an aryl halide and an alkene is illustrated below.<br><br><img style="max-width: 100%;" src="../../reaction-image/cou-3.png" alt="">`,
    
    application: `<strong>- </strong>Coupling reactions are employed in the synthesis of several pharmaceutical products.<br><br><strong>- </strong>Many conjugated polymers are prepared via coupling reactions that involve the use of a metal catalyst.<br><br><strong>- </strong>The Suzuki coupling reaction (which is an important class of coupling reactions) is also used in the synthetic production of complex compounds. For example, it is used in the production of caparratriene, which is highly effective in the treatment of leukaemia.<br><br><strong>- </strong>Many natural products can be obtained via certain coupling reactions. For example, benzylisoquinoline alkaloids can be synthesized with the help of the Sonogashira cross-coupling reaction.`,
    
    history: ``
}) %>
