

<%- include('rxnlayout.ejs', { 
    
    title: 'Cross Aldol Condensation', 

    general_reaction: `When aldol condensation is carried out between two different aldehydes and / or ketones, it is called cross aldol condensation. If both of them contain α-hydrogen atoms, it gives a mixture of four products.`,

    image: '../../reaction-image/cross-aldol-condensation.png',
    
    description: `<h3>Crossed Aldol Condensation</h3><br>The condensation reaction between two different molecules of an aldehyde or ketone in a protic solvent such as water or alcohol constitutes the crossed aldol reaction. When condensation is between two different carbonyl compounds, it is called crossed aldol condensation. When both aldehydes have alpha hydrogens, both can form carbanions and can also act as carbanion acceptors. Hence a mixture of four products is formed which has little synthetic value.<br><br>If one of the aldehydes has no alpha hydrogen then it can act only as a carbanion acceptor. In such a case, only two products are formed. A common substrate for the crossed aldol reaction is an aromatic aldehyde, which has no alpha position. Furthermore, dehydration of the initial condensation product is rapid which leads to the formation of the α, β – unsaturated ketone and prevents the retro-aldol reaction from taking place.<br><br><img style="max-width: 100%;" src="../../reaction-image/c-ad-1.png"><br><br><h3>Example of Cross Aldol Condensation</h3><br><br><strong>Reaction between Benzaldehyde and Acetophenone</strong><br><br>The reaction between benzaldehyde and acetophenone undergo cross aldol condensation in presence of dil. NaOH.  In this reaction benzaldehyde have no alpha hydrogen but acetophenone have alpha hydrogen so its undergo aldol condensation form β-hydroxy ketone.  Furthermore, dehydration leads to the formation of the α, β – unsaturated ketone.<br><br><img style="max-width: 100%;" src="../../reaction-image/c-ad-2.png">`,
    
    application: ``,
    
    history: ``
}) %>
