

<%- include('rxnlayout.ejs', { 
    
    title: 'Diazotization Reaction', 

    general_reaction: `Diazotization Reaction involves the formation of diazonium salts when aromatic amines are made to react with nitrous acid in presence of mineral acid at 0 to 5 ◦c.`,

    image: '../../reaction-image/diazotization-reaction.png',
    
    description: `<h3>Diazotization Reaction Mechanism</h3><br>The diazotization reaction mechanism begins with the reaction of nitrous acid with the other acid to give water and nitrosonium ion.<br><br><img style="max-width: 100%;" src="../../reaction-image/diaz-1.png"><br><br>Thus, the required nitrosonium ion is formed. This is now reacted with the aromatic ring to which the NH2 group is attached. The positive charge of the nitrosonium ion is now shifted to the nitrogen which is directly attached to the aromatic ring as a new nitrogen-nitrogen bond is formed. The subsequent deprotonation gives the n-nitrosamine.<br><br>In the presence of excess acid, n-nitrosamine can be converted into a diazohydroxide by protonation and subsequent deprotonation. Diazohydroxide is now protonated and water is removed from the compound to give the required aryl diazonium ion (which can easily be converted into a diazonium salt).<br><br>The mechanism of the diazotization reaction of aniline is illustrated below.<br><br><img style="max-width: 100%;" src="../../reaction-image/diaz-2.png">`,
    
    application: `A few applications of diazonium compounds have been listed below.<br><br>- Diazonium compounds are very useful in the dye and pigment industries. They were initially used in the production of water-fast dyed fabrics.<br>- Diazonium Salts are found to be useful in the Fischer Indole Synthesis process because they can be reduced to hydrazine derivatives with the help of stannous chloride.<br>- They are used as standard reagents while synthesizing organic compounds.<br>- Diazonium salts have the potential to have applications in the field of nanotechnology. They are useful in the efficient functionalization of single-wall nanotubes.`,
    
    history: `The chemical process used in converting a primary aromatic amine into the corresponding diazonium salt of the amine is commonly referred to as diazotization. The <strong>German industrial chemist Peter Griess</strong> was the first person to report such a reaction in <strong>1858</strong>.`
}) %>
