

<%- include('rxnlayout.ejs', { 
    
    title: 'Esterification', 

    general_reaction: `Carboxylic acid reacts with alcohol in the presence of conc sulphuric acid to give an ester. It’s a reversible reaction.`,

    image: '../../images/2,4DNP.png',
    
    description: `<h3>What is Meant by Esterification Reaction?</h3><br>When carboxylic acids are heated with alcohol with the help of an acid catalyst, esters are produced. The catalyst in use is usually concentrated sulphuric acid. Alternatively, dry hydrogen chloride gas is useful in some cases which incline towards aromatic sweet-smelling esters, the ones with the benzene ring. The chemical reaction which occurs during the formation of the ester is known as the esterification reaction.<br><br><strong>CH3COOH + CH3CH2COOH → CH3COOCH2CH3</strong><br><br><h3>The Esterification Mechanism</h3><br>The process of esterification involves five steps known as the esterification mechanism. The steps are as follows:<br><br><strong>Step 1: Formation of Cation</strong><br><br>The first step is where the ethanoic acid takes a proton (a hydrogen ion) from the concentrated sulphuric acid. This proton attaches to one of the single pairs on the oxygen which is double-bonded to the carbon.<br><br>(image will be uploaded soon)<br><br><strong>Step 2: Carbonation Delocalized</strong><br><br>Methanol acts as a nucleophile to a carbocation remembering that there is an excess of methanol molecules in the solution as always in this reaction. Here the Carboxyl oxygen gets protonated giving a delocalized carbocation in turn making the carbocation one better electrophile.<br><br>(image will be uploaded soon)<br><br><strong>Step 3: Proton Transfer</strong><br><br>The protonated ether leaves as methanol but does not accomplish anything. A proton transfers to one of the hydroxyl groups making it a good leaving group.<br><br>(image will be uploaded soon)<br><br><strong>Step 4: Pi Bond Formation</strong><br><br>The oxygen alcohol atom from the hydroxy group donates a pair of electrons to the atom of carbon making a π bond while eliminating water. This eliminated water is not a viable nucleophile that reverses the reaction because its concentration is low as against the concentration of the methanol.<br><br>(image will be uploaded soon)<br><br><strong>Step 5: Formation of Ester</strong><br><br>The water is extremely low for a concentration to reverse the whole reaction.<br><br>(image will be uploaded soon)`,

    application: `1. Esters are fragrant and so are highly useful in perfumes cosmetics and food flavorings.<br><br>2. They are useful as an organic solvent.<br><br>3. An ester Nitroglycerin is known and famous for its explosive properties.<br><br>4. They are useful in the manufacturing of surfactants like soaps and detergents.<br><br>5. They have present in pheromones if they occur naturally.<br><br>6. Phosphoesters from the backbone of DNA molecules.<br><br>7. Esters called polyesters are used to produce plastic.`,
    
    history: `<strong>Fischer esterification or Fischer–Speier esterification</strong> is a special type of esterification by refluxing a carboxylic acid and an alcohol in the presence of an acid catalyst. The reaction was first described by <strong>Emil Fischer and Arthur Speier in 1895</strong>.`
}) %>
