

<%- include('rxnlayout.ejs', { 
    
    title: 'Wurtz-Fitting Reaction', 

    general_reaction: `A mixture of an alkyl halide and aryl halide gives an alkylarene when treated with sodium in dry ether and is called Wurtz-Fittig reaction.<br><br><image style="max-width: 100%;" src="../../reaction-image/wurtz-fitting-reaction.png"></image>`,

    image: '../../reaction-image/wurtz-fitting-example.png',
    
    description: '<h3>What is the Wurtz-Fittig Reaction?</h3><br>The Wurtz-Fittig reaction mechanism can be explained either via the organo-alkali mechanism or the radical mechanism. The Wurtz-Fittig reaction is a chemical process that produces substituted aromatic compounds from aryl halides, alkyl halides, sodium metal, and dry ether.<br><br>In 1855, Charles Adolphe Wurtz first reported the process that is now known as the Wurtz reaction, which involves combining two alkyl halides to generate a new carbon-carbon bond. An example of such a reaction is shown below.<br><image style="max-width: 100%;" align="center" src="../../reaction-image/wf-1.png"></image><br><br>If the alkyl halide has more chemical reactivity than the aryl halide, it will form the carbon sodium bond first and act as a nucleophile to the aryl halide, helping the reaction in forming asymmetrical products. If the reactants are formed with halogens of different periods, the difference in reactivity between the alkyl halide and aryl halide can be achieved easily.<br><br><h3>Wurtz-Fittig Reaction Mechanism</h3><br><strong>The Organo-Alkali Mechanism</strong><br><br>When the aryl halide is reacted with sodium metal, an intermediate organo-alkali compound is formed, which is followed by a nucleophilic attack of the alkyl halide as shown below. Thus, the required alkyl-aryl is formed.<br><image style="max-width: 100%;" align="center" src="../../reaction-image/wf-2.png"></image><br><br><strong>The Radical Mechanism</strong><br><br>The sodium atom acts as a moderator for the formation of alkyl radicals and aryl radicals. These alkyl and aryl radicals now combine to form a substituted aromatic compound as shown below.<br><image style="max-width: 100%;" align="center" src="../../reaction-image/wf-3.png"></image><br><br>To conclude, the Wurtz-Fittig reaction mechanism can be described either via the radical mechanism or the organo-alkali mechanism, there exists empirical evidence for both. The reaction can also be conducted using metals other than sodium (such as potassium, iron, copper, and lithium). The reaction can also be called a coupling reaction. It requires an aprotic solvent as the reaction medium for which dry ether is quite suitable as it is a good non-polar aprotic solvent.',
    
    example: 'A',
    
    application: 'A',
    
    modern_application: 'a',
    
    history: ''
}) %>
